# Copyright (c) 2024 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_PROSPECTOR_SCANNER

config ZMK_KEYBOARD_NAME
    default "Prospect"

config ZMK_DISPLAY
    default y

config PROSPECTOR_MODE_SCANNER
    default y

config PROSPECTOR_DISPLAY_TEST
    bool "Enable display hardware test"
    default n
    help
      Enable basic display hardware test for debugging.

endif # SHIELD_PROSPECTOR_SCANNER